/* CSS cho navbar */
.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Đảm bảo navbar nằm trên các phần tử khác */
    background-color: #fff; /* Thêm màu nền nếu cần */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm shadow nếu muốn */
}

.vitri3 {
    bottom: 50px;
    right: 10px;
}

.tienichcuocgoi {
    position: fixed;
    z-index: 999;
}

.tienichcuocgoi ul {
    padding: 10px;
    width: 60px;
}

.tienichcuocgoi ul li {
    margin-bottom: 10px;
    position: relative;
    display: flex;
}

.tienichcuocgoi ul li .icimg,
.tienichcuocgoi ul li .tienichname {
    float: left;
    position: absolute;
    display: flex;
}

.tienichcuocgoi ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tienichcuocgoi ul li a {
    line-height: 40px;
    height: 40px;
    min-width: 40px;
}

.tienich_lenh {
    width: 40px;
    height: 40px;
    background-color: var(--ws-bg-title);
    color: var(--ws-color-title);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 5px 10px;
    cursor: pointer;
    display: none;
}

.tienich_lenh i {
    font-size: 25px;
}

.tienichcuocgoi ul li .icimg {
    z-index: 9;
}

.tienichcuocgoi ul li a:hover .icimg {
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tienichcuocgoi ul li .tienichname {
    display: none;
    width: 0;
    position: absolute;
    white-space: nowrap;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    transition: width 1s;
    z-index: 8;
}

.tienichcuocgoi ul li a:hover .tienichname {
    display: block;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    padding: 0px 10px 0px 50px;
}

.tienichcuocgoi ul li.sodienthoai a {
    padding-right: 13px;
    color: #f00;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "ws-font-title", Arial, sans-serif;
}

.vutruso-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    position: fixed;
    transition: visibility 0.5s ease;
    z-index: 200000;
}

.vutruso-alo-phone.vutruso-alo-green .vutruso-alo-ph-circle {
    border-color: #005c91;
    opacity: 1;
}

.vutruso-alo-ph-circle {
    animation: vutruso-alo-circle-anim 2s infinite ease-in-out;
    background-color: #ff8383;
    border: 2px solid #fc2020;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 2px;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
}

.vutruso-alo-phone.vutruso-alo-green .vutruso-alo-ph-circle-fill {
    background-color: rgba(240, 114, 114, 0.3);
}

.vutruso-alo-ph-circle-fill {
    animation: vutruso-alo-circle-fill-anim 2.3s infinite ease-in-out;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
}

.vutruso-alo-phone.vutruso-alo-green .vutruso-alo-ph-img-circle {
    background-color: #ff3434;
}

.vutruso-alo-ph-img-circle {
    border: 2px solid transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    opacity: 1;
    transform-origin: 50% 50%;
}

img.lac {
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tienichcuocgoi.themes4 ul li a .icimg {
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tienichcuocgoi.themes4.vitri3 ul li.sodienthoai a .tienichname {
    left: -125px;
    width: auto;
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    padding: 0px 50px 0px 15px;
    font-size: 18px;
}

/* Keyframe animations */
@keyframes phonering-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
